<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
			<link rel="icon" href="https://cdn140.picsart.com/238552858118212.png?r1024x1024">
		</head>
		<body>
			<nav>
	    		<ul>
	        		<li><a href="/">Home</a></li>
		        	<li><a href="/about">About</a></li>
	        		<li><a href="/cv">CV</a></li>
	        		<li><a href="/blog">Blog</a></li>
	    		</ul>
			</nav>
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			
    <img src="https://orig00.deviantart.net/d44d/f/2018/052/b/e/atsu_divider__animated__by_the_long_divide-dc3vsf5.gif" >
 		<footer>
	    		<ul>
	        		<li><a href="mailto:jerushas2597@afsenyc.org">email</a></li>
	        		<li><a href="https://github.com/jerushas2597">github.com/jerushas2597</a></li>
				</ul>
			</footer>
		</body>
	</html>
