<!DOCTYPE html>
	<html>
	<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
		<link rel="stylesheet" type="text/css" href="https://jerushas2597.github.io/myanimerag.github.io/css/main.css" />
		<link href="https://fonts.googleapis.com/css2?family=Lobster&display=swap" rel="stylesheet">
		<link href="https://fonts.googleapis.com/css2?family=Merienda:wght@700&display=swap" rel="stylesheet"> 
 		 <link href="https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap" rel="stylesheet"> 
  		<link href="https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap" rel="stylesheet"> 		
<link rel="icon" href="https://1.bp.blogspot.com/-9cZAUr6Xu6k/XooozF9CTqI/AAAAAAAAGaM/A8JJ7tZlAjAMnrN_huOzZzW7PNAvtijcwCLcBGAsYHQ/s320/94097_oxBpS8mV.png">
		</head>
		<body>
			  
<center><img class="top" src="https://1.bp.blogspot.com/-9cZAUr6Xu6k/XooozF9CTqI/AAAAAAAAGaM/A8JJ7tZlAjAMnrN_huOzZzW7PNAvtijcwCLcBGAsYHQ/s320/94097_oxBpS8mV.png" width="320" />

 <h1 class="title"> My Animerag</h1></center>
 

 <ul class="bluedouble tex">
  <li><a class="active text" href="https://jerushas2597.github.io/myanimerag.github.io/">Home</a></li>
  <li><a class="text" href="https://jerushas2597.github.io/myanimerag.github.io/blog">Anime</a></li>
  <li><a class="text" href="https://jerushas2597.github.io/myanimerag.github.io/genres">Genres</a></li>
  <li><a class="yt" href="https://jerushas2597.github.io/myanimerag.github.io/youtube"><img src="https://icons-for-free.com/iconfiles/png/512/drawn+social+youtube+icon-1320191386575587562.png" width="130px" height="60px" />
  </a></li>
</ul>

			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			
		</body>
	</html>
